<div class="ui basic segment">
  <div class="ui grid">
    <div class="row">
      <div class="three wide column">
        <div class="ui secondary vertical menu">
          <a class="item">Antenna systems</a>
          <a class="item">Attitude actuators</a>
          <a class="item">Attitude sensors</a>
          <a class="item">Cameras & payloads</a>
          <a class="item">Command & data handling</a>
          <a class="item">Communication systems</a>
          <a class="item">CubeSat kits & buses</a>
          <a class="item">Cube Sat Structures</a>
          <a class="item">Ground stations</a>
          <a class="item">Integrated ADCS</a>
          <a class="item">Launch adapters</a>
          <a class="item">Propulsion & pressurisation</a>
          <a class="item">Solar pannels & power systems</a>
          <a class="item">Ground support equipment</a>
          <a class="item">Software services</a>
          <a class="item">Training & simulators</a>
        </div>
      </div>
      <div class="thirteen wide column" style="padding-left: 30px; padding-top: 30px;">
        <div class="ui basic segment">
          <h1 class="ui header">One-stop webshop for CubeSats and Nanosats</h1>
          <h2 class="ui header">More than 100 products available</h2>
          <button class="ui facebook button">
            VIEW PRODUCTS
            <i class="arrow right icon"></i>
          </button>
        </div>

        <div class="ui small images">
          <img class="ui image" src="assets/images/show.png">
          <img class="ui image" src="assets/images/show.png">
          <img class="ui image" src="assets/images/show.png">
          <img class="ui image" src="assets/images/show.png">
          <img class="ui image" src="assets/images/show.png">
          <img class="ui image" src="assets/images/show.png">
          <img class="ui image" src="assets/images/show.png">
          <img class="ui image" src="assets/images/show.png">
          <img class="ui image" src="assets/images/show.png">
          <img class="ui image" src="assets/images/show.png">
          <img class="ui image" src="assets/images/show.png">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui basic segment">
  <h2 class="ui center aligned header">FEATURED PRODUCTS</h2>

  <div class="ui link four cards">
    <div class="card">
      <div class="image">
        <img src="assets/images/Qubeflex.jpg">
      </div>
      <div class="content">
        <div class="header">QUBEFLEX CUBESAT/SMALLSAT TRANSCEIVER</div>
        <div class="meta">
          <a>Brand: Teledyne</a>
        </div>
        <div class="description">
          from $6156
        </div>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="assets/images/ifm-nano.png">
      </div>
      <div class="content">
        <div class="header">IFM NANO THRUSTED FOR CUBEASTS</div>
        <div class="meta">
          <a>Brand: AMR Propulsion Innovations</a>
        </div>
        <div class="description">
          $30000
        </div>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="assets/images/Software-icon3.jpg">
      </div>
      <div class="content">
        <div class="header">DEVELOPMENT SERVICE LEVEL AGREEMENT</div>
        <div class="meta">
          <a>Brand: Kubos</a>
        </div>
        <div class="description">
          from $9000
        </div>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="assets/images/Single-solar-panels.jpg">
      </div>
      <div class="content">
        <div class="header">CUBESAT SOLAR PANELS</div>
        <div class="meta">
          <a>Brand: ISIS</a>
        </div>
        <div class="description">
          from $2500
        </div>
      </div>
    </div>
  </div>
</div>
