<div class="ui basic segment">
  <div class="ui grid">
    <div class="row">
      <div class="three wide column">
        <div class="ui secondary vertical menu">
          <a class="item">Antenna systems</a>
          <a class="item">Attitude actuators</a>
          <a class="item">Attitude sensors</a>
          <a class="item">Cameras & payloads</a>
          <a class="item">Command & data handling</a>
          <a class="item">Communication systems</a>
          <a class="item">CubeSat kits & buses</a>
          <a class="item">Cube Sat Structures</a>
          <a class="item">Ground stations</a>
          <a class="item">Integrated ADCS</a>
          <a class="item">Launch adapters</a>
          <a class="item">Propulsion & pressurisation</a>
          <a class="item">Solar pannels & power systems</a>
          <a class="item">Ground support equipment</a>
          <a class="item">Software services</a>
          <a class="item">Training & simulators</a>
        </div>
      </div>
      <div class="thirteen wide column" style="padding-left: 30px; padding-top: 30px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

