<div class="ui center aligned blue inverted very padded basic segment">
  <h1>How it works</h1>
</div>

<div class="ui fluid container">
  <p class="description">CubeSatShop.com’s goal is to connect customers with satellite components and subsystems manufacturers while offering a
    standard method of providing key subsystem information. The website acts as an information portal, offering the possibility
    to directly inquire about a product. After the inquiry a sales engineer will contact and advise you based on your project
    specifications.
    <strong>Please note it is not possible to buy products directly from the website.</strong> Below you will find a detailed overview
    about how CubeSatShop works.</p>
</div>

<div class="ui equal width stackable grid container">
  <div class="column">
    <div class="ui basic segment">
      <img class="ui small circular image" src="assets/images/1.png">
      <h3>Browse products</h3>
      <p>Browse among more than 70 products divided by category. To make your search easier, you can filter the products based
        on vendor or flight heritage.</p>
    </div>
  </div>
  <div class="column">
    <div class="ui basic segment">
      <img class="ui small circular image" src="assets/images/2.jpg">
      <h3>Add to inquiry list</h3>
      <p>The inquiry list works as a ‘wishlist’. By pressing the ‘Request more info’ button, the product is added to your ‘Inquiry
        list’ while you can continue browsing. Once you are done, you can go check your inquiry list and proceed to checkout.</p>
    </div>
  </div>
  <div class="column">
    <div class="ui basic segment">
      <img class="ui small circular image" src="assets/images/3.jpg">
      <h3>Checkout</h3>
      <p>For the checkout process you will be required to fill in some basic contact information.</p>
    </div>
  </div>
  <div class="column">
    <div class="ui basic segment">
      <img class="ui small circular image" src="assets/images/4.png">
      <h3>Get in touch</h3>
      <p>After checking out, you will receive an automatic e-mail confirming that your inquiry has been received. Soon after,
        a sales engineer will continue the discussion with you and eventually, help you place an order.</p>
    </div>
  </div>
</div>

<div class="ui basic segment">
  <h1 class="header">Looking for more info?</h1>
  <div class="ui compact grey icon message">
    <i class="help icon"></i>
    <div class="content">
      <h3>Check out the FAQ section</h3>
      <p>Visit our <a [routerLink]="['/faq']">FAQs</a> to learn more about how CubeSatShop.com works</p>
    </div>
  </div>
</div>
