<div class="ui basic segment container">
  <div class="ui equal width grid">
    <div class="row">
      <div class="column">
        <div class="ui basic segment">
          <div class="ui image">
            <img src="assets/images/41.png">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui container">
          <div class="ui basic segment">
            <h1>Helios deployable antenna</h1>
            <h3>$11000</h3>
            <p>
              The Helios Antenna features a Quadrifilar Helical Antenna with an electrically powered method of deployment. The Helios Antenna
              can be developed to operate from 400Mhz to 3000Mhz. The HCT Helios series of antennas can accommodate several
              operational purposes from near hemispherical coverage to narrow beamwidths, including ISO-FLUX beam patterns.
              Quadrifilar Helical Antenna patterns can be arranged to be either right hand or left hand circularly polarized.
              Thus, having significant advantages over linearly polarized antennas.
              <br> The antennas can be developed to reside in less than one-half of a 1U cube structure. This makes the innovative
              Helios Antenna appropriate for small satellite applications.
            </p>
            <p>
              <strong>Availability: 90 days</strong>
            </p>
            <p>
              <strong>Brand: HCT</strong>
            </p>
            <button class="fluid black ui button">REQUEST MORE INFO</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">First</a>
    <a class="item" data-tab="second">Second</a>
    <a class="item" data-tab="third">Third</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="first">
    First
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    Second
  </div>
  <div class="ui bottom attached tab segment" data-tab="third">
    Third
  </div>
</div>
